html {
  scroll-behavior: smooth;
}

body{
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
 }

 /* section {
  height: auto;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
} */

header{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  height: 3.9rem;
  width: 100%;
  margin: 0;
  z-index: 5;
}


.hide{
  display: none;
}

#mobile-nav {
  display: flex;
  width: 100%;
}

#logo {
  align-self: center;
  height: 2rem;
  width: 3rem;
  margin: auto;
}
.hamburger,
.rotate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  width: 2.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  gap: 0.4rem;
}

.hamburger :nth-child(3){
  display:none;
}

.line {
  width: 100%;
  height: 0.3rem;
  background-color: #737272;
}

/* cancel button in the mobile hamburger button */

.rotate span{
  position: absolute;
}

.rotate :nth-child(1),
 .rotate :nth-child(4)
 {
  display: none;
 }

 .rotate :nth-child(2){
  transform: rotate(45deg);
 }

 .rotate :nth-child(3){
  display: flex;
  transform: rotate(-45deg);
 }


 .rotate :nth-child(2),
 :nth-child(3)
 {
  top:50%;
 }

/* mobile menu  */

#mobile-menu {
  position: fixed;
  justify-content: left;
  background: rgb(53, 53, 53);
  height: 100vh;
  width: 100%;
  top:4rem;
  
}


#mobilelist ul{
  display: block;
  height: 100%;
  border: 1px solid red;
}

#mobilelist li {
  border: #333;
  color:white;
  line-height:40px;
  list-style: none;
}

#mobilelist li a {
  color: white;
  text-decoration: none;
}

